* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 100%;
  font-family: 'Zilla Slab', serif;
  background-color: gainsboro;
  min-width: 100%;
}

body {
  font-family: sans-serif;
  color: #4a4a4a;
  height: auto;
}

#masthead {
	background-color: #000044;
  	color:#aaaacc;
}

#masthead h1 {
	font-size: 55px;
	line-height: 1;
}

#masthead .well {
	margin-top:13%;
	background-color:#111155;
  	border-color:#000033;
}

#sidebar {
  position: absolute;
  float: left;
  display: inline-block;
  width: 115px;
  height: 100%;
  background-color: darkGrey;
  padding-top: 10px;
}

#new-room {
  margin-bottom: 10px;
}

#room-name {
  margin-bottom: 2px;
}

#chat-room-container {
  max-height: 500px;
  width: 85%;
  margin-left: 135px;
  margin-bottom: 10px;
  padding-top: 5px;
  overflow-y: scroll;
}


#messages {
  padding: 100px 35px 100px 0;
}


.message-username {
  font-weight: bold;
  padding-right: 15px;
}

.message-time {
  font-size: x-small;
  color: #979797;
}

.message-content {
  float: right;
}
#new-message {
  position: fixed;
  bottom: 0;
  padding: 35px 35px 35px 0;
}


@media screen and (min-width: 768px) {
	#masthead h1 {
		font-size: 100px;
	}


.affix-top,.affix{
	position: static;
}

}
@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:30px;
  	width:228px;
  }

  #sidebar.affix-bottom {
    position: relative;
  }

  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }

}
