* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  font-family: sans-serif;
  color: #4a4a4a;
  height: 100%;
}

html {
  font-family: 'Zilla Slab', serif;
  background-color: gainsboro;
  min-width: 400px;
}

#masthead {
	background-color: #000044;
  	color:#aaaacc;
}

#masthead h1 {
	font-size: 55px;
	line-height: 1;
}

#masthead .well {
	margin-top:13%;
	background-color:#111155;
  	border-color:#000033;
}

#sidebar {
  position: absolute;
  display: inline-block;
  width: 25%;
  height: 100%;
  background-color: darkGrey;
  padding-top: 10px;
}

#new-room {
  margin-bottom: 10px;
}

#room-name {
  margin-bottom: 2px;
}

#chat-room-container {
  float: right;
  padding-left: 0px;
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
	#masthead h1 {
		font-size: 100px;
	}
}

.affix-top,.affix{
	position: static;
}

  #sidebar {
    min-width: 150px;
  }

  #chat-room-container {
    float: right;
    width: auto;
  }

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:30px;
  	width:228px;
  }

  #sidebar.affix-bottom {
    position: relative;
  }

  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}
