<main>
<section class="header-container">
  <div id="masthead">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Bloc Chat
            <p class="lead">The easiest way to chat!</p>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sbar-container">
  <div class="col-xs-6 col-md-4" id="sidebar">
    <div class="ui left fixed vertical menu">
      <div class="item">
          <!-- <img class="ui mini image" src="/images/logo.png"> -->
          <center><button type="button" class="btn btn-info" id="new-room" ng-click="home.openNewRoom()">New Room</button></center>
      </div>
      <div ng-repeat="room in home.rooms">
          <a class="btn btn-basic" id="room-name" ng-click="home.storeRoomName(room)">{{ room.name }}</a>
      </div>
    </div>
  </div>
</section>

<section class="content-container">
  <div class="col-xs-12 col-md-8" id="chat-room-container">
      <h1>{{ home.currentRoom.name }}</h1>
      <div id="messages" ng-repeat="message in home.messages">
        <p><span class="message-username">{{ message.username }}</span> <span class="message-time">{{ message.sentAt }}</span></p> 
        <p class="message-content">{{ message.content }}</p>
      </div>

      <div id="new-message" ng-show="home.currentRoom !== null">
          <form ng-submit="home.sendMessage(home.newMessage, home.currentRoom)">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="home.newMessage" title="message" autofocus>
                <span class="input-group-btn"><button class="btn btn-default modal-btn-create" type="button" ng-click="home.sendMessage()">Send</button></span>
              </div>
          </form>
      </div>
  </div>
</section>


</main>
