
<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Bloc Chat
          <p class="lead">The easiest way to chat!</p>
        </h1>
      </div>
    </div><!-- /cont -->
  </div>
</div>

<div class="sidebar" id="sidebar">
    <center>
      <div class="sidebar-header">
        <button type="button" class="new-room btn btn-info" ng-click="home.open()">New Room</button>
      </div>
    </center>
    <center>
      <div class="sidebar-body" ng-repeat="room in home.rooms">
          <p class="room-name" ng-click="home.storeRoomName(room)">{{ room.$value || room.name }}</p>
      </div>
    </center>
</div>
