<section class="header-container">
  <div id="masthead">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Bloc Chat
            <p class="lead">The easiest way to chat!</p>
          </h1>
        </div>
      </div><!-- /cont -->
    </div>
  </div>
</section>

<section class="sbar-container">
  <div class="col-xs-6 col-md-4" id="sidebar">
    <div class="ui left fixed vertical menu">
      <div class="item">
          <!-- <img class="ui mini image" src="/images/logo.png"> -->
          <center><button type="button" class="btn btn-info" id="new-room" ng-click="home.openNewRoom()">New Room</button></center>
      </div>
      <div ng-repeat="room in home.rooms">
          <button class="btn btn-basic" id="room-name" ng-click="home.storeRoomName(room)">{{ room.name }}</button>
      </div>
    </div>
  </div>
</section>

<section class="content-container">
  <div class="col-xs-12 col-md-8" id="chat-room-container">
      <h1>{{ home.currentRoom.name }}</h1>
      <div class="messages" ng-repeat="message in home.messages">
          <div class="username">{{ message.username }}</div>
          <div class="timestamp">{{ message.sentAt }}</div>
          <div class="user-message">{{ message.content }}</div>
      </div>
  </div>
</section>
