<div class="modal-box" id="username-modal">
  <center><h2 class="modal-title">What's your name?</h2></center>
    <div class="modal-body">
        <h5 class="modal-prompt">Get creative!</h5>
            <input type="text" name="input" ng-model="username.username" placeholder="Enter username..." autofocus required>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-block" type="button" ng-click="username.setUsername()" ng-disabled="username.username === 'undefined'">Set username</button>
  </div>
</div>
